.wrap.header {
	background-color: bisque;
}

header ul {
	overflow: hidden;
}

header ul>li {
	float: left;
}

header {
	position: relative;
	height: 90px;
}

header>.logo {
	position: absolute;
	top: 20px;
	left: 0;
}

header>.top-menu {
	position: absolute;
	top: 0px;
	right: 5px;
}

header>.main-menu {
	position: absolute;
	bottom: 0;
	right: 5px;
}